
@{
    ViewBag.Title = "My Contacts";
}

<nav class="navbar navbar-light light-blue lighten-4">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
            aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="dark-blue-text">
            <i class="fas fa-bars fa-1x"></i>
        </span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="Index">Admin Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../../Views/Home/Index">Home</a>
            </li>
            
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>

<h2>Admin Home Page</h2>

<a asp-controller="Contact" asp-action="Add" class="btn btn-primary">Add New Contact</a>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Address</th>
            <th>Note</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.Address</td>
                <td>@contact.Note</td>
                <td>
                    <a asp-controller="Contact" asp-action="Edit" class="btn btn-outline-secondary"
                       asp-route-id="@contact.ContactId">Edit</a>
                    <a asp-controller="Contact" asp-action="Delete" class="btn btn-outline-secondary"
                       asp-route-id="@contact.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

<hr />
<h4>Chapter 6 Routing Methods</h4>
<a asp-controller="Home" asp-action="DefaultRouting" class="btn btn-outline-success">Default Routing</a>
<a asp-controller="Home" asp-action="CustomRouting" class="btn btn-outline-success">Custom Routing</a>
<a asp-controller="Home" asp-action="CustomAttributeRouting" class="btn btn-outline-success">Custom Attribute Routing</a>